<p>third works!</p>
<input #myInput type="text" (keyup)="onKeyup(myInput.value)" >


<form [formGroup]="myGroup" (ngSubmit)="onSubmit()">
    <input formControlName="firstName" type="text" class="form-control" placeholder="Inserisci il Nome">

    <div *ngIf="firstName && firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger">
        <div *ngIf="firstName && firstName.errors && firstName.errors['required']">
          Il Nome è obbligatorio
        </div>
        <div *ngIf="firstName && firstName.errors && firstName.errors['minlength']">
          La lunghezza minima è 4
        </div>

    </div>

    <input formControlName="lastName" type="text" class="form-control" placeholder="Inserisci il Cognome">
    <div *ngIf="lastName && lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">
      <div class="alert alert-danger" *ngIf="lastName && lastName.errors && lastName.errors['myValidator']">
        Il cognome deve cominciare con la lettera s
      </div>
    </div>

    <button class="btn btn-success" [disabled]="myGroup.invalid" type="submit">OK</button>

</form>


<!-- <input class="form-control" [formControl]="name"> -->

<!-- <hr/>
Direct value: {{name.value}}


<hr/>
Observable value: {{name$ | async}} -->

